*{
  margin:0;
  padding:0;
  
}
/* index and template CSS*/

.subHeadingBox {   
  text-align: center;
  height:30px;
  background-color:rgba(0, 0, 0, 0.774); 
  color:rgb(206, 206, 206);
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.25em;
}

.headingBox {  
  background-image: url("mixingBoard.jpg");
  background-position: center;
  background-size: cover;
  color: white;  
  text-align: right;
  font-family: 'Ubuntu', sans-serif;    
  height: 4%;
  font-size: 1.25em;
}
  
.headingBox img{
  height:75px;
}

.menu {
  position: fixed;
  text-align: left;
  width:100%;
  font-family: 'Ubuntu', sans-serif;
  bottom: 0;
  background-color:rgba(0, 0, 0, 0.774);   
  color:rgb(206, 206, 206);

}

body {    
  background-color: rgb(128, 128, 128);
  font-family: 'Ubuntu', sans-serif;
  color:rgb(206, 206, 206);

}

.splashBoxIndex {
  font-family: 'Ubuntu', sans-serif;
  color:rgb(206, 206, 206);
  padding-top:5%;
  padding-left:5%;
  background-color:rgba(0, 0, 0, 0.514);
}

.splashBoxIndex img{
  width:40%;     
}

.bodyBoxIndex {
  padding-top:5%;
  padding-left:5%;
  padding-bottom: 5%;
  background-color:rgba(0, 0, 0, 0.363);
  font-family: 'Ubuntu', sans-serif;
  color:rgb(206, 206, 206);   

}

.bodyBoxIndex img {
  width:40%;

}

#myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 20; 
  border: none; 
  outline: none; 
  background-color: rgb(0, 217, 255); 
  color:rgb(206, 206, 206);
  cursor: pointer; 
  padding: 15px;
  border-radius: 8px; 
  font-size: 18px; 
  font-family: 'Ubuntu', sans-serif;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}


/* Page2 CSS */

.subHeadingBox video{
    width: 25%;
    margin-right: 75%;
    margin-top: 1%;
    


}

.subHeadingBox h5 {
    font-family: 'Ubuntu', sans-serif;
}

.subHeadingBox h4 {
    font-family: 'Ubuntu', sans-serif;
    text-align: Left;
}

.subHeadingBox h3 {
    text-align: left;
    font-family: 'Ubuntu', sans-serif;


}


.secvid h4 {
   float: right; 
   display: block;
   margin-top: -300px;
   font-family: 'Ubuntu', sans-serif;
    
}


.secvid video {
    float: right;
    margin-right: 1%;
    margin-top: -280px;
}

.third h1, p {
    font-family: 'Ubuntu', sans-serif;

}

section {
    background-color:rgba(0, 0, 0, 0.774);   
    
}
.seq {
    height:1100%;
    width:40%;
}

p {
  font-family:  'Ubuntu', sans-serif;
}

.two h1, p {
  font-family:  'Ubuntu', sans-serif;

}








/*Page3 CSS*/

.soundsText {   
  text-align: left;
  padding-left:9%;
  padding-right:9%;  
  background-color:rgba(0, 0, 0, 0.774); 
  color:rgb(206, 206, 206);
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.25em;
}
.mp3titleFont {
  color: rgb(0, 217, 255);
  font-size: 0.95em;
  text-align: center;
}

.soundsAndExamplesText {
  color:rgb(206, 206, 206);
  font-family: 'Ubuntu', sans-serif;  
}


/*Page4 CSS*/

.productionText {   
  text-align: left;
  padding-left:9%;
  padding-right:9%;  
  background-color:rgba(0, 0, 0, 0.774); 
  color:rgb(206, 206, 206);
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.25em;
}

.musicProductionWithCausticText {
  color:rgb(206, 206, 206);
  font-family: 'Ubuntu', sans-serif;
}


/*Page5 CSS*/
.why1{

background-image: url(https://cdn6.aptoide.com/imgs/7/5/4/754599940099126d1d0c01999992ed4c_screen.png?h=464);

width: 40%;

color: white;

border-radius: 15%;

margin:auto;

margin-top:5%;

}

.why2{

padding-left: 4%;


}

.why3{

font-size:40px;

}

li{

font-size:20px;

}

.why img{

width:40%;

margin-left:30%;

margin-top: 3%;




}

.back{

background-image:url(http://www.musicalandroid.com/uploads/1/2/4/3/12437050/5191299_orig.jpg);

background-repeat: no-repeat;

background-size: cover;

width:100%;

height:100%;

}








/* Page6 CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form input, form textarea {
  background: transparent;
  border: 0;
  border-bottom: 2px solid white;
  padding: 5px;
  width: 100%;
  color: white;
  outline: none;
}
.fname h4{
  line-height: 1.5em;
  text-align:center;
  color: white;
  padding:1%;
}
form input[type="submit"] {
  display: block;
  width: auto;
  margin: 10px auto;
  padding: 5px 10px;
  border: 3px solid white;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
.container {
    border-radius: 10px;
    background-color: rgba(51, 51, 51, 0.425);
    padding: 20px;
    width:60%;
    height:80%;
    font-family: 'Ubuntu', sans-serif;
    margin-top:5%;
    margin-left:20%;
}
.container h1{
  text-align: center;
  color:white;
}

.bio img{
  border-radius: 50%;
  display: block;
  margin: auto;
  width: 25%;
  margin-left:auto;
  margin-top: 4%;
  margin-bottom: 4%;
}
.paragraph{
  
  position: relative;
  width: 60%;
  height:auto;
  margin-left:50%;
  transform: translate(-50%);
  background-color: teal;
  display: inline-block;
  padding: 2%;
  border: solid 3px;
  border-radius: 55px;
  border-color: rgba(0, 0, 0, 0);
  line-height: 1.5;
}
.paragraph h1{
  text-align: center;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
}
.paragraph p{
  padding:5%;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  font-size: 20px;
}
.divImg{
  background-image:url(myback.jpg);
  background-size: cover;
  width:100%;
  background-repeat: no-repeat;
}
.block{
  background-color: teal;
  width:16%;
  padding-left: 4.5%;
  color:white;
  margin-left:83%; 
  margin-top:2%;
  border-radius:7%;
  padding-top: 2%;
  font-family: 'Ubuntu', sans-serif;
}
.block-content{
  padding-top: 1%;
}
.appStoreButton {
  display: inline-block;
  border-radius: 5px;
  background: #666 url('http://www.singlecellsoftware.com/sites/all/themes/atdark/css/images/app-stores.png') no-repeat;
  background-position: 50% 5px;
  width: 132px;
  height: 42px;
  margin-right: 82%;
  z-index: 2;
  }
  
  .appStoreButton-googleplay {
  background-position: 50% -55px;
  margin-right: 82%;
  }
